dangerDist 30
chaseDist 20
searchDepth 3
behaviourTree.Selector
{
	behaviourTree.Sequence
	{
		behaviourTree.leaves.IsThreatNear
		behaviourTree.Selector
		{
			behaviourTree.Sequence
			{
				behaviourTree.leaves.IsPowerPillReachable
				behaviourTree.leaves.CollectPowerPill
			}
			behaviourTree.leaves.Flee
		}
	}
	behaviourTree.Sequence
	{
		behaviourTree.leaves.ShouldChase
		behaviourTree.leaves.Chase
	}
	behaviourTree.leaves.CollectNearestPill
}